*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/vcs.xml
.idea/misc.xml
app/libs/
app/src/main/java/sunpj/loveticket/ui/fragment/
